.div-modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 40%;
    border-radius: 15px;
    background-color: #EFEFDF;
}

.header-of-modale{
    text-align: center;
    border-radius: 15px;
    margin-bottom: 1em;
    padding-top: 10px;
}

.body-of-modale{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.text-information-modal{
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    width: 70%;
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    transform: translate(-0%, -55%);
}

.button-of-modale{
    width: 60%;
    background-color: #D69224;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width : 1025px){
    .modal-general{
        display: none;
    }
}