.global-page-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.global-card-about-page{
    width: 90%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.img-card-abouut{
    width: 420px;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.div-card-about{
    position: relative;
    text-align: center;
}

.div-card-about > h1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    color : white;
}

.title-about-page{
    color: #D69224;
}



/**
.main-about-us{
    display: flex;
    flex-direction: row;
}

.global-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.div-bloc-vente{
    background-color: #E6E6D6;
    border-radius: 15px;
    display: block;
    width: 450px;
    height: 450px;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 3px 5px gray;
}

.div-bloc-vente-h1, .div-bloc-vente-p, .div-bloc-vente-img{
    background-color: #E6E6D6;
    border-radius: 15px;
}

.div-bloc-vente-p{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    width: 70%;
}

.div-bloc-vente-img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.div-bloc-vente-h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
    .main-about-us{
        display: flex;
        flex-direction: column;
    }

    .div-bloc-vente{
        width: 80%;
        height: 80%;
    }

    .div-bloc-vente-p{
        margin-bottom: 1em;
    }
}**/