
/**
.global-page{
    margin-top: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-list-of-articles{
    width: 100%;
    max-height: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 13em);
    gap: 10px;
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
}

.animation-of-modal{
    animation: appear 350ms ease-in 1;
}


}

@media screen and (max-width: 550px) {

    .main-list-of-articles{
        grid-template-columns: repeat(2, 11em);
    }
}
*/

/*Mobile Screen*/
@media screen and (max-width: 768px){

    .global-article{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1em;

    }

    .h1-articles{
        display:none;
    }

    .footer{
        display: none;
    }

    .main-list-of-articles{
        height: calc(100vh - 260px);
        display: grid;
        grid-template-columns: repeat(2, 11em);
        gap: 7px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}

/* desktop screen*/
@media screen and (min-width : 1025px) {

    .global-article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }

    .h1-articles{
        color: #D69224;
        margin-bottom: 10px;
    }

    .main-list-of-articles{
        height: calc(100vh - 200px);
        display: grid;
        grid-template-columns: repeat(4, 15em);
        gap: 7px 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #D69224;
        font-style:italic;
    }

    .div-footer{
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
    }

    .div-footer-phone{
        display: flex;
        justify-content: center;
    }

    .footer-img{
        width: 5%;
    }
}

