.title-home-page{
    margin-top: 1em;
    margin-bottom: 1em;
    color : #D69224;
    text-align: center;
    font-weight: bold;
}

.global-home-pages{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Mobile Screen*/
@media screen and (max-width: 768px){

    .home-pages-wrapper{
        display: flex;
        flex-direction: column;
    }

    .home-page-container{
        margin-top: 2em;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .home-page-container>img{
        width: 100%;
        border-radius: 15px;
    }

    .home-page-container-text{
        text-align: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .button{
        display: none;
    }

}

/*Tablette Screen*/
@media screen and (min-width:769px) and (max-width: 1024px ){

    .home-pages-wrapper{
        display: flex;
        flex-direction: column;
    }

    .home-page-container{
        margin-top: 2em;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .home-page-container>img{
        width: 100%;
        border-radius: 15px;
    }

    .home-page-container-text>h2{
        font-size: 40px;
    }

    .home-page-container-text{
        text-align: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
    }

    .button{
        display: none;
    }

}
/*Desktop Screen*/
@media screen and (min-width : 1025px){

    .home-pages-wrapper{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5em;
    }

    .home-page-container > img{
        width: 80%;
        filter: drop-shadow(10px 10px 4px #D69224);
        border-radius: 15px;
        margin-top: 2.3em;
    }

    .home-page-container-text{
        width: 70%;
        font-size: 20px;
        text-align: center;
    }

    .home-page-container-text>h2{
        font-size: 40px;
    }

    .global-home-pages{
        display: flex;
        flex-direction: column;
    }

    .button{
        width: 35%;
        border-radius: 15px;
        font-size: 26px;
        padding : 20px 30px 20px 30px;
        border: none;
        background-color: #D69224;
        color: white;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        text-decoration: none;
    }
}