.global-home-pages{
    margin: 0;
    padding: 0;
    width: 100%;
}

.home-pages-wrapper{
    display: flex;
    flex-direction: column;
}

.home-page-container{
    margin-top: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.home-page-container>img{
    width: 100%;
    border-radius: 15px;
}

.title-home-page{
    margin-top: 1em;
    margin-bottom: 1em;
    color : #D69224;
    text-align: center;
    font-weight: bold;
}

.home-page-container-text{
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

