
@media screen and (max-width: 700px){

    .div-card-modal{
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: #FFF3E4;
        border-radius: 15px;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .image-card-modal{
        width: 100%;
        object-fit: cover;
    }

    .h1-title-modal{
        display: none;
    }

    section {
        display: flex;
        margin: auto;
        align-items: center;
        flex: none;
        overflow: auto;
        overflow-y: scroll;
        border-radius: 15px 15px 0 0;
    }

    .text-modal-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 90%;
    }
    .x {
        width: 100%;
        flex-flow: row nowrap;
        overflow-y: hidden;
    }

    /* scroll-snap */
    .x.mandatory-scroll-snapping {
        scroll-snap-type: x mandatory;
    }

    .scroll-card {
        text-align: center;
        scroll-snap-align: center;
        flex: none;
        width: 100%;

    }

    .i-text{
        color: #D69224;
        margin-bottom: 1em;
        font-weight: bold;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-variation-settings: 'wght' 800;
    }

    .div-panel-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-modal{
        width: 50%;
        border-radius: 8px;
        font-size: 11px;
        padding : 10px 15px 10px 15px;
        border: none;
        background-color: #D69224;
        color: white;
        margin-bottom: 1em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        text-decoration: none;
    }

    /*---------------about page-------------*/

    .div-card-modal-about{
        width: 85%;
        height: 50vh;
        background-color: #FFF3E4;
        border-radius: 15px;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }

    .scroll-card-about {
        overflow-y: hidden;
        flex: none;
        width: 100%;
    }

    .image-card-modal-about{
        width: 100%;
    }

    .text-modal-card-about{
        text-align: center;
        align-items: center;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;

    }

}

@media screen and (min-width : 1025px){
    .div-card-modal{
        width: 45%;
        height: 60%;
        display: flex;
        flex-direction: row;
        background-color: #FFF3E4;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .div-card-modal > .div-panel-right{
        display: flex;
        justify-content: center;
    }

    .image-card-modal{
        width: 100%;
    }

    section {
        display: flex;
        align-items: center;
        flex: none;
        overflow: auto;
        overflow-y: scroll;
    }

    .h1-title-modal{
        color: #D69224;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .x {
        width: 50%;
        flex-flow: row nowrap;
        overflow-y: hidden;
        border-radius: 15px 0 0 15px;
    }

    /* scroll-snap */
    .x.mandatory-scroll-snapping {
        scroll-snap-type: x mandatory;
    }

    .div-panel-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .scroll-card {
        text-align: center;
        scroll-snap-align: center;
        flex: none;
        background-color: white;
        width: 100%;
    }

    .text-modal-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin-bottom: 2em;
        font-size: 16px;
    }

    .button-modal{
        width: 50%;
        border-radius: 8px;
        font-size: 11px;
        padding : 10px 15px 10px 15px;
        border: none;
        background-color: #D69224;
        color: white;
        margin-bottom: 1em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        cursor: pointer;
        text-decoration: none;
    }


    /*---------------about page-------------*/

    .div-card-modal-about{
        width: 85%;
        height: 50vh;
        display: flex;
        flex-direction: row;
        background-color: #FFF3E4;
        border-radius: 15px;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

    }

    .scroll-card-about {
        overflow-y: hidden;
        flex: none;
        width: 100%;
    }

    .image-card-modal-about{
        width: 110%;

    }

    .text-modal-card-about{
        text-align: center;
        align-items: center;
        width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}
