.menu{
    margin-top: 2px;
    display:flex;
    justify-content:space-between;
    background-color: #EFEFDF;
    width: 100%;
}

.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D69224;
    width: 60%;
    margin-top: 1em;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo{
    width: 25%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #D69224;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    padding : 10px 30px 10px 30px;
}

.position{
    position: fixed;
    z-index: 5;
    bottom: 15px;
}

.icon{
    width: 100%;
}

.home-icon{
    width: 13%;
}

.article-icon{
    width: 13%;
}

.about-us-icon{
    width: 13%;
}