.global-nav-desktop{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D69224;
    border-radius: 15px;
    padding : 10px 30px 10px 30px;
    margin-top: 2em;
}

.logo-desktop{
    width: 25%;
}

.logo-title-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-desktop{
    display: flex;
    width: 15%;
}

.icon-desktop{
    width: 100%;
}

.position-desktop{
    display: flex;
    justify-content: flex-end;
}
