.logo-title{
    position:sticky;
    top: 1em;
}
/*Mobile screen*/
@media screen and (max-width : 768px){

    .global-nav{
        display: flex;
        justify-content: center;
    }

    .logo-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D69224;
        width: 60%;
        margin-top: 1em;
        border-radius: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .logo{
        width: 25%;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        width: 70%;
        background-color: #D69224;
        border-radius: 15px;
        padding : 10px 30px 10px 30px;
        position: fixed;
        bottom: 15px;
    }

    .icon{
        width: 100%;
    }

    .home-icon{
        width: 13%;
    }

    .article-icon{
        width: 13%;
    }

    .about-us-icon{
        width: 13%;
    }

    .label-link{
        display: none;
    }
}
 /* Tablette and desktop screen*/
@media screen and (min-width : 769px){

    .global-nav{
        display: flex;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #D69224;
        border-radius: 15px;
        padding : 8px 30px 8px 30px;
        margin-top: 1em;
    }

    .logo-title{
        display: flex;
        align-items: center;
    }

    .logo{
        width: 17%;
        margin-right: 1.5em;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 15%;
    }

    .icon{
        width: 30px;
    }

    .about-us-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-icon{
        margin-right: 2em;
    }

    .home-icon{
        margin-right: 3em;
    }

    .link{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label-link{
        color: black;
    }

}
